body{
    margin:0;
    padding: 0;
}
/* 头部上端 */
.topbar{
    width:100%;
    height:35px;
    background:#F7F7F7;
}
.topbar_1{
    float: left;
    margin-left:200px;
    height:30px;
    line-height:30px;
}
.topbar_2{
    float: right;
    margin-right:100px;
    height:30px;
    line-height:30px;
}
.container a,span{
    color:black;
    font:12px Arial,sans-serif;
    text-decoration: none;
}

.topbar_1 span{
    margin-left:28px;
}
.topbar_2 a{
    padding:10px;
}
.topbar_1 img{
    vertical-align:middle;
}
.topbar_2 img{
    vertical-align: middle;
    margin-right: 5px;
}
.topbar_2 a:nth-child(1):hover,.topbar_2 a:nth-child(2):hover{
color:#E6262F;
}
/* 头部中端 */
.middle{
    width:100%;
    height:100px;
    margin-top:30px;
}
/* 边框坍塌 */
.container_2::before,.container_2::after{
    content:"";
    display:table;
}
.container_2::after{
    clear:both;
}

.container_2{
    /* border:1px solid red; */
    width:1300px;
    margin:0 auto;
}
.middle_1,.middle_2,.middle_3{
    /* border:1px solid red; */
    float:left;
    height:40px;
    line-height: 40px;
}
.middle_2,.middle_3{
    margin-left:70px;
}
.middle_2 span,.middle_2 a{
    text-decoration: none;
    color:#666666;
}
.middle_2 a:hover{
 color:#E6262F;
}
.input_1{
    width:560px;
    height:36px;
    border:2px solid #E6262F;
    outline: none;
    padding: 0;
    font-size:16px;
    padding-left:5px;
}
.input_2{
    width:50px;
    height:40px;
    background:#E6262F;
    color:white;
    font-size:14px;
    border:1px solid #E6262F;
    cursor: pointer;
    outline: none;
    margin-left:-5px;
}
.middle_3>a:first-child{
    text-decoration: none;
    border:1px solid #E6262F;
    padding:10px 24px;
}
.middle_3 a span{
    color:#E6262F;
    font-size: 20px;
}
.middle_3 a img{
    padding-right:10px;
}
.middle_3{
    position: relative;
}
.gwc_num{
    position: absolute;
    top:2px;
    left:169px;
     width:18px;
    height:18px;
    border-radius:50%;
    background: #E6262F;
   
}
.dw_1{
    position: relative;
}
.gwc_num>div>a{
    position: absolute;
    color:white;
    text-decoration: none;
    font-size: 10px;
    top:-10px;
    left:5px;
}
